# Week 4 : List, Tuple, Dictionary, Set, Bool

### 2019 Summer 
### Human Factors Psychology Lab, SNU
### Jehun Hong

# 1. List 자료형
- 리스트 자료형 : 여러 값들을 나열하는 것

#### 리스트 자료형의 예시
리스트는 어떤 자료형이든 요소로 포함시킬 수 있다.

In [104]:
number = [1, 2, 3, 4, 5] #숫자형 요소들로 구성됨
pizza = ["cheese", "peperoni", "hawaiian", "supersupreme"] #문자형 요소들로 구성됨
mix = [23, 37.364, "SLEEP", "집에가서뭐먹지"] #숫자형, 문자형 요소들이 섞일 수 있음
pizzanumber = ["chheese", "peperoni", "hawaiian", [1, 2, 3, 4, 5]] #리스트 자체를 요소로 포함시킬 수 있음

빈 리스트를 생성할 수도 있다.

In [105]:
a = []
b = list()
print(a)
print(b)

[]
[]

## 1.1. List의 인덱싱과 슬라이싱

### 1.1.1. List 인덱싱

In [106]:
a = [1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
### 인덱싱
print(a[0])
print(a[-2])
print(a[3]+a[7])

1
8
12

In [108]:
장래희망 = ["buildingowner", "cat", "beer", "computer"]
print(장래희망[0])
print(장래희망[1]+장래희망[2]+장래희망[3])
print(장래희망[3]*10)

buildingowner
catbeercomputer
computercomputercomputercomputercomputercomputercomputercomputercomputercomputer

- 참고 : 문자형과 숫자형은 더할 수 없으므로, 숫자형을 str함수를 활용해 문자형으로 바꿔줘야 한다.

In [109]:
전재산 = [0, 13, 2370, 11600, "돈없음", "파산"]
print(전재산[1])
print(전재산[4])
print(전재산[1]+전재산[4])

13
돈없음

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [110]:
#오류수정
str(전재산[1])+전재산[4]

'13돈없음'

#### 이중 리스트에서 내부의 리스트는 요소로 처리되기 때문에 인덱싱할 수 있다.

내부 리스트 내의 요소를 인덱싱하기 위해서는 변수이름[내부 리스트의 위치][내부 리스트 내에서 찾고자 하는 요소의 위치] 로 지정하면 된다.

(예시는 아래에)

In [111]:
#이중 리스트에서의 인덱싱
pizzanumber = ["chheese", "peperoni", "hawaiian", [1, 2, 3, 4, 5]]
print(pizzanumber[3])
print(pizzanumber[3][1])

[1, 2, 3, 4, 5]
2

### 1.1.2. List 슬라이싱
- 문자열 슬라이싱과 동일한 방법을 취하면 된다.

#### Reminder : 문자열의 슬라이싱 방식

- a[p:q]는 a문자열의 p번째 문자이상, q번째 문자 미만을 출력하는 것.
- a[p:]는 p번째 문자에서 끝까지 출력한다.
- a[:q]는 처음부터 q번째 문자 이전까지 출력한다.
- a[:]는 a문자열을 모두 출력한다.
- a[p:-q]와 같이, 인덱싱처럼 뒤에서 문자를 셀 수도 있다.

In [112]:
# List Slicing 1
k = [1,2,3,4,5,6,7,8,9,10]
print(k[2:6])
print(k[5:])
print(k[:3]+k[7:])

[3, 4, 5, 6]
[6, 7, 8, 9, 10]
[1, 2, 3, 8, 9, 10]

In [113]:
# List Slicing 2
boring = ["교장", "선생님", "의", "훈화", "말씀이", "있겠습니다"]
print(boring[:2])
print(boring[:1]+boring[2:4])

['교장', '선생님']
['교장', '의', '훈화']

리스트 슬라이싱도 리스트 인덱싱과 같은 방식으로 이중 리스트에서 sublist의 요소들을 추출할 수 있다.

In [114]:
#이중리스트 슬라이싱
stock = ["주가가", "폭락하고", "있습니다", [1000,10,0]]
print(stock[1:])
print(stock[3:])
print(stock[3][:2])
print(stock[3][:])

['폭락하고', '있습니다', [1000, 10, 0]]
[[1000, 10, 0]]
[1000, 10]
[1000, 10, 0]

### 1.3. List의 연산
- 문자열과 마찬가지로 List도 +를 사용해서 더하고, * 를 사용해서 반복하고, len(변수)를 사용해서 길이를 구할 수 있다.

#### (1) 리스트 자료형의 덧셈 +

In [115]:
rich = ["CEO", "건물주", "의사"]
poor = ["학생", "예술가", "백수"]
print(rich+poor)

['CEO', '건물주', '의사', '학생', '예술가', '백수']

#### (2) 리스트 자료형의 반복 *

In [116]:
hungry = ["피자", "치킨", "수제버거", "꽃등심", "스테이크", "회전초밥"]
print(hungry*4)

['피자', '치킨', '수제버거', '꽃등심', '스테이크', '회전초밥', '피자', '치킨', '수제버거', '꽃등심', '스테이크', '회전초밥', '피자', '치킨', '수제버거', '꽃등심', '스테이크', '회전초밥', '피자', '치킨', '수제버거', '꽃등심', '스테이크', '회전초밥']

#### (3) 리스트 자료형의 길이 추출하기 len

In [117]:
longlist = ["안녕", "하세요", "저는", "지금", "파이썬", "발제를", "준비하고", "있습니다", "리스트를", "최대한", "길게", "만들어", "볼건데요", "사실", "저도", "파이썬을", "못합니다", "더쓸말이", "없네요", "안녕"]
len(longlist)

20

In [118]:
shortlist = ["itsreallyshort"]
len(shortlist)

1

### 1.4. List의 수정과 삭제
- List는 값을 수정하거나 삭제할 수 있다.

#### (1) List 값 수정

In [119]:
game = ["packman", "mario", "psychology"]
game[2] = "tetris"
print(game)

['packman', 'mario', 'tetris']

#### (2) del 함수로 List 값 삭제
- del a(x)는 리스트 a 안에 있는 x번째 값의 요소를 삭제한다. 슬라이싱 기법으로 여러 요소들을 동시에 삭제할 수도 있다.

In [120]:
oddnumber = [1,3,5,7,8,9]
del oddnumber[4]
print(oddnumber)

thanos = ["human1", "human2", "human3", "human4", "human5", "human6", "human7", "human8"]
del thanos[4:]
print(thanos)
del thanos[:2]
print(thanos)
del thanos[0:1]
print(thanos)

[1, 3, 5, 7, 9]
['human1', 'human2', 'human3', 'human4']
['human3', 'human4']
['human4']

### 1.4.1. List 관련 함수

#### (1) append : 리스트에 요소 추가
- a.append(x)는 리스트 a의 마지막 자리에 요소 x를 추가하는 것이다.

In [121]:
a = [10, 20, 30, 40, 50]
a.append(60)
print(a)

[10, 20, 30, 40, 50, 60]

In [122]:
drinks = ["beer", "wine", "vodka"]
drinks.append("soju")
print(drinks)
cocktail = ["mojito", "midori", "cosmopolitan", "godfather"]
drinks.append(cocktail)
print(drinks)

['beer', 'wine', 'vodka', 'soju']
['beer', 'wine', 'vodka', 'soju', ['mojito', 'midori', 'cosmopolitan', 'godfather']]

#### (2) sort : 리스트 정렬
- a.sort()는 리스트의 요소를 순서대로 정리한다.

In [123]:
random = [-1253, 194993292, 1, 3.144324, 779, -26, 194, 91, 18, 36.5, 29393, 0, 177]
random.sort()
print(random)

[-1253, -26, 0, 1, 3.144324, 18, 36.5, 91, 177, 194, 779, 29393, 194993292]

In [124]:
philosopher = ["Kant", "Hegel", "Heidegger", "Sartre", "Camus", "Aristotles", "퇴계이황", "공자"]
philosopher.sort()
print(philosopher)

['Aristotles', 'Camus', 'Hegel', 'Heidegger', 'Kant', 'Sartre', '공자', '퇴계이황']

#### (3) reverse : 리스트 뒤집기
- a.reverse()는 기존의 리스트 a의 순서를 역순으로 뒤집어준다.

In [125]:
life = ["birth", "chicken", "death"]
life.reverse()
print(life)

['death', 'chicken', 'birth']

#### (4) index : 위치 반환
- a.index(x)는 리스트 a에 x라는 요소가 있으면 그 위치 값을 반환한다.

In [126]:
a = [15, 30, 45, 60, 75, 90, 105, 120, 135, 150]
a.index(105)

6

In [127]:
a.index(88)

ValueError: 88 is not in list

#### (5) insert : 요소 삽입
- a.insert(p,q)는 리스트 a에서 p번째 자리에 q를 삽입한다.

In [128]:
치킨집 = ["지코바", "BHC", "BBQ", "교촌"]
치킨집.insert(0,"굽네치킨")
print(치킨집)

['굽네치킨', '지코바', 'BHC', 'BBQ', '교촌']

#### (6) remove : 요소 제거
- a.remove(x)는 리스트에서 첫번째로 나오는 x를 제거한다.

In [129]:
a = [2,4,8,2,4,8,2,4,8]
a.remove(4)
print(a)
a.remove(4)
print(a)
a.remove(4)
print(a)

[2, 8, 2, 4, 8, 2, 4, 8]
[2, 8, 2, 8, 2, 4, 8]
[2, 8, 2, 8, 2, 8]

#### (7) pop : 리스트 요소 끄집어내기
- a.pop()는 리스트 a에서 마지막 요소를 돌려주고 그 요소를 삭제한다.
- a.pop(x)는 리스트 a에서 x번째 요소를 돌려주고 그 요소를 삭제한다.

In [130]:
brain = ["brainstem", "amygdala", "cerebellum", "ventricle", "hippocampus", "neocortex"]
brain.pop()
print(brain)
brain.pop(3)
print(brain)

['brainstem', 'amygdala', 'cerebellum', 'ventricle', 'hippocampus']
['brainstem', 'amygdala', 'cerebellum', 'hippocampus']

#### (8) count : 리스트에 포함된 특정 요소의 개수 세기
- a.count(x)는 리스트 a에 있는 x의 개수를 센다.

In [131]:
A = [1,34,6,87,5,1,5,34,1,45567,1,5,22,1,55566,1,7685,1,9999,1,24,1,1,1,"1"]
print(A.count(1))
print(A.count("1"))

11
1

#### (9) extend : 리스트 확장
- a.extend(b)는 기존 리스트 a에 리스트 b를 더한다.

In [132]:
추천여행지 = ["다낭", "하와이", "아이슬란드", "리스본", "평양"]
추천여행지.extend(["디트로이트", "남극", "관악구"])
print(추천여행지)

['다낭', '하와이', '아이슬란드', '리스본', '평양', '디트로이트', '남극', '관악구']

In [133]:
생선 = ["정어리", "삼치", "낙지", "가자미"]
해양생물 = ["인어공주", "크라켄", "죠스"]
생선.extend(해양생물)
print(생선)

['정어리', '삼치', '낙지', '가자미', '인어공주', '크라켄', '죠스']

# 2. Tuple 자료형
### 튜플은 리스트와 거의 같다. 그러나 다른 점은 :
- 리스트는 [ ] 로 둘러싸지만, 튜플은 ( ) 으로 둘러싼다.
- 리스트는 요소를 유동적으로 변경할 수 있지만, 튜플은 불가능하다.

프로그래밍을 할 때, 어떤 항목 값들이 바뀌지 않기를 원한다면 튜플을 사용하는 것이 좋다.

In [134]:
tuple1 = () #비어있는 튜플

In [135]:
tuple2 = (1,) #요소가 하나일 때는 요소 뒤에 콤마(,)를 표기하여야 한다.

In [136]:
tuple3 = (1, 2, 3)
tuple3 = 1, 2, 3 #괄호()를 생략해도 괜찮다.

In [137]:
tuple4 = ("물고기", "열대어", ("횟감", "스시")) #튜플은 다른 튜플을 요소로 가질 수 있다.

## 2.1. 튜플의 활용
- 튜플의 요소를 삭제하거나 수정할 수는 없지만, 그 외의 활용은 리스트와 완전히 동일하다.

#### (1) 튜플의 인덱싱과 슬라이싱

In [138]:
관악구 = ("관악산", "서울대", "봉천동", "신림동", "낙성대")
print(관악구[0]+관악구[1])
print(관악구[2:4])

관악산서울대
('봉천동', '신림동')

#### (2) 튜플의 연산

In [139]:
helpme = (5511, 5513, 5516, 501)
mayday = "셔틀버스", "2호선", "택시"
print(helpme+mayday) #덧셈
shuttle = "줄이", "너무", "길어요"
print(shuttle*10) #곱셈
snu = "미대", "사회대", "인문대", "공대", "자연대", "농생대, ""생활대", "경영대", "음대", "사범대", "의대", "치대", "간호대", "약대", "자전"
print(len(snu))

(5511, 5513, 5516, 501, '셔틀버스', '2호선', '택시')
('줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요', '줄이', '너무', '길어요')
14

#### (3) count함수 적용

In [140]:
minute = 1, 1, 3, 15, 13.2, 4, 1, 15, 14, 15, 16.5, 15, 19, 20.2, 15, 15
minute.count(15)

6

#### (4) index함수 적용

In [141]:
minute = 1, 1, 3, 15, 13.2, 4, 1, 15, 14, 15, 16.5, 15, 19, 20.2, 15, 15
print(minute.index(14))
print(minute.index(15))

8
3